* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*------------------------------
----pour le footer------
-------------------------------*/
#footer {
  background-color: #c7c3c3;
  font-family: 'Roboto Condensed', sans-serif;
  border-block-start: solid 5px #47474773;
}

#footer a {
  color: white;

}


/*----------------------------------
----------media query----------------
----------------------------------*/

@media only screen and (max-width: 1199px) {
  #footer .in {
    display: none;
  }
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
  #footer .in {
    display: initial;
  }
}

@media only screen and (max-width: 576px) {

  }
